h2{
    text-align: center;
    color: beige;
    background-color: darkgreen;
}

.flexysexy-klass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    border: 5px solid black;
    
}

body{
    background-image: url('img/winter-snow.jpg');
}

.centerklass{
display:flex; 
flex-direction: column;
align-items: center;
text-align: center;

}

.låda-klass{
    display:flex; 
    flex-direction: column;
    margin-left: 550px;
    margin-right: 550px;
    border: 1.5px solid ghostwhite ;
    background-color: darkgreen
    

    
}

ul{
    color: white;
}

li{
    color: white;
    list-style-type: square;
}

.grön-text-klass{
    color: darkgreen;
}

#vit-highlight{
    background-color: white;
    color: red;
    margin-right: 220px;
}

#gul-highlight{
    margin-right: 220px;
    background-color: darkseagreen
    
}

.kalender-container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

th, td {
    border: 2.5px solid orange;
    padding: 10px;
}

th {
    background-color: lightblue;
    font-weight: bold;
}

td {
    font-size: xx-large;
    font-weight: 700;
    background-color: beige;
}

.helgdag {
    background-color: beige;
    color: red;
}

.veckodag {
    background-color: pink;
}
